@import './variables.scss';

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: $maxWidth;
  width: 100%;
  @include tablet-l {
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    
  }
}
.productContainer {
  width: 100%;
  
  @include desktop{
    padding: 0 20px 50px 20px;
  }
  .description {
    margin-bottom: 10px;
    :nth-child(1) {
      color: $Orange;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: bold;
    }
    :nth-child(3) {
      color: $Darkgrayishblue;
      font-size: 1rem;
    }
    h1 {
      color: $Verydarkblue;
      margin: 20px 0 30px 0;
      font-size: 3rem;
    }
  }
  .pricing {
    margin-bottom: 20px;
    .pricing_full{
      color: $Darkgrayishblue;
      font-weight: bold;
      text-decoration: line-through;
    }
    @include tablet{
      display: flex;
      align-items: center;
    }
    @include mobile{
      justify-content: space-between;
    }
    div {
      display: flex;
      align-items: center;
      
      :nth-child(1) {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: bold;
        margin-right: 15px;
        color: $Verydarkblue;
      }
      :nth-child(2) {
        text-transform: uppercase;
        background-color: $lightOrange;
        padding: 3px 6px;
        text-align: center;
        border-radius: 2px;
        font-size: 1rem;
        color: $Orange;
        font-weight: bold;
        margin-right: 15px;
      }
    }
  }
  .buttonsBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mobile{
      width: 100%;
      flex-direction: column;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin-right: 15px;
      background-color: $Lightgrayishblue;
      @include mobile{
        width: 100%;
        margin-bottom: 20px;
      }
      button {
        display: flex;
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: 0;
        cursor: pointer;
        color: $Orange;
        @include mobile{
          width: 100%;
          
        }
        &:hover {
          color: $Paleorange;
        }
      }
      p {
        min-width: 20px;
        color: #000;
        padding: 10px 20px;
      }
    }
    .btn_addToCart {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $Orange;
      border-radius: 10px;
      border: 0;
      padding: 13px 50px;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 10px 15px 0px $Paleorange;
      cursor: pointer;
      @include mobile{
        width: 100%;
        
      }
      svg {
        margin-right: 15px;
        path {
          fill: #fff;
          margin-right: 10px;
        }
      }
      &:hover {
        background-color: $Paleorange;
       
      }
    }
  }
}
