
$Orange: hsl(26, 100%, 55%);
$Paleorange: #FFAC6A;
$lightOrange: #FFEFE1;
$Verydarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$maxWidth: 1100px;

@mixin tablet {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin tablet-m {
    @media (max-width: 650px) {
        @content;
    }
}
@mixin tablet-l {
    @media (max-width: 970px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1100px) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: 500px) {
        @content;
    }
}