@import '../../variables.scss';

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
}
.topSlider {
  width: 100%;
  max-width: 400px;
  .image {
    height: 400px;
    border-radius: 10px;
  }
}
.bottomSlider {
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  div>div img:hover{
    background-color: #fff;
  }
  .image {
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      filter: opacity(50%);
    }
  }
  .imgBox{
    height: 80px;
    width: 80px;
    border-radius: 12px;
    margin: 0;
    padding: 0;
    &:hover{
        background-color: #fff;
    }
    
  }
  .imgBoxActive {
    border: 2px solid $Orange;
    background-color: #fff;
    
  }
  .active {
    filter: opacity(40%);
  }
}
