@import '../../variables.scss';

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  @include tablet-l {
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
.topSlider {
  @include tablet-m {
    width: 100vw;
  }
  .image {
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    @include tablet-m {
      height: 500px;
      width: 100vw;
      border-radius: 0;
    }
    @include mobile {
      height: 350px;
    }
  }
  .next {
    img {
      position: relative;
      right: 70px;
      padding: 12px 13px;
      border-radius: 50%;
      background-color: #fff;
    }
    &:before {
      content: none;
    }
  }
  .prev {
      z-index: 1000;
    img {
      position: relative;
      left: 50px;
      padding: 12px 13px;
      border-radius: 50%;
      background-color: #fff;
    }
    &:before {
      content: none;
    }
  }
}
.bottomSlider {
  max-width: 490px;
  margin-top: 15px;
  @include tablet-l {
    position: absolute;
    top: 80px;
    left: 550px;
    max-width: 100px;
  }
  @include tablet-m {
    display: none;
  }

  .image {
    height: 80px;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
      filter: opacity(30%);
    }
  }
  .imgBox {
    height: 80px;
    width: 80px;
    border-radius: 12px;
    border: 2px solid $Orange;
    margin: 0;
    padding: 0;
  }
  .active {
    filter: opacity(30%);
  }
}
